.tabs {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      gap: 20px;
      border: none;
      text-decoration: none;
      text-transform: uppercase; 
      padding: 10px 0;
  }
  
  .tabs .react-tabs__tab {
      list-style: none;
      padding: 10px 20px;
      margin: 0;
      color: #333;
      background-color: #e0e0e0; 
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: background-color 0.3s ease;
  }
  
  .tabs .react-tabs__tab--selected {
      background-color: #333; 
      color: #fff; 
  }
  
  .tabs .react-tabs__tab:hover:not(.react-tabs__tab--selected) {
      background-color: #d0d0d0; 
  }
  
